<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="c5bef9ad-4101-44c8-96b0-d8c41ec0e7f2"
    Publisher="CN=tmp"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c5bef9ad-4101-44c8-96b0-d8c41ec0e7f2" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Kairos</DisplayName>
    <PublisherDisplayName>tmp</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Kairos.App">
      <uap:VisualElements
        DisplayName="Kairos"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Kairos"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.search"/>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="kairos">
            <uap:SupportedFileTypes>
              <uap:FileType>.kairos</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>KairosFile</uap:DisplayName>
            <uap:Logo>Assets\370px-Piktogramm_Baustelle.png</uap:Logo>
            <uap:InfoTip>Kairosfile</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>